.pagination-area {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.table-area {
    margin-top: 5px;
    border-radius: 15px; /* Rounded corners */
    overflow: hidden; /* Ensures the content respects the rounded corners */
    border: 2px solid #ddd; /* Optional: Add a border to the wrapper */
}
.table-area table {
    width: 100%;
    border-collapse: collapse;
}
.table-area th, td {

    padding: 8px;
    text-align: left;
}
.table-area th {
    background-color: #f2f2f2;
}

button {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100px;
}

button:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

button:hover {
    background-color: #f7fafa;
}

body {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default body margin */
    flex-direction: column; /* Stack content vertically */
}

h1 {
    margin-bottom: 20px;
}





